Library/
Temp/
Logs/
.vs/
obj/
Unity.VisualStudio.Editor.csproj
Git.sln
PsdPlugin.csproj
ScriptablePacker.csproj
Unity.2D.Animation.Editor.csproj
Unity.2D.Animation.Runtime.csproj
Unity.2D.Aseprite.Common.csproj
Unity.2D.Aseprite.Editor.csproj
Unity.2D.Common.Editor.csproj
Unity.2D.Common.Path.Editor.csproj
Unity.2D.Common.Runtime.csproj
Unity.2D.IK.Editor.csproj
Unity.2D.IK.Runtime.csproj
Unity.2D.Psdimporter.Editor.csproj
Unity.2D.SpriteShape.Editor.csproj
Unity.2D.SpriteShape.Runtime.csproj
Unity.2D.Tilemap.Extras.csproj
Unity.2D.Tilemap.Extras.Editor.csproj
Unity.2D.Tooling.Editor.csproj
Unity.Burst.CodeGen.csproj
Unity.Burst.csproj
Unity.Burst.Editor.csproj
Unity.CollabProxy.Editor.csproj
Unity.Collections.CodeGen.csproj
Unity.Collections.csproj
Unity.Collections.Editor.csproj
Unity.InternalAPIEditorBridge.001.csproj
Unity.InternalAPIEngineBridge.001.csproj
Unity.Mathematics.csproj
Unity.Mathematics.Editor.csproj
Unity.PerformanceTesting.csproj
Unity.PerformanceTesting.Editor.csproj
Unity.PlasticSCM.Editor.csproj
Unity.PlasticSCM.Editor.Entities.csproj
Unity.Rider.Editor.csproj
Unity.Searcher.Editor.csproj
Unity.Timeline.csproj
Unity.Timeline.Editor.csproj
Unity.VisualScripting.Core.csproj
Unity.VisualScripting.Core.Editor.csproj
Unity.VisualScripting.DocCodeExamples.csproj
Unity.VisualScripting.Flow.csproj
Unity.VisualScripting.Flow.Editor.csproj
Unity.VisualScripting.SettingsProvider.Editor.csproj
Unity.VisualScripting.Shared.Editor.csproj
Unity.VisualScripting.State.csproj
Unity.VisualScripting.State.Editor.csproj
